body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: white
}
h3{
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding-top: 12px;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0; 
}
.content{
    width: 23%;
    margin: 16px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 31px;
    cursor: pointer;
    padding-top: 38px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    transition: .4s ease;
    background: purple;
    padding-bottom: 1px;
}

.content:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px,-8px);
}

img{
    width:200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p{
    text-align: center;
    color: aqua;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: black;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s ease;
}
.chechked{
    color: blue;
}
.fa:hover{
    transform: scale(1.3);
    transition: .4s ease;
}
button{
    text-align: center;
    font-size: 24px;
    color: cadetblue;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1{
    background: red;
}
.buy-2{
    background: blue;
}

.buy-3{
    background: green;
}

.buy-4{
    background: black;
}

@media(max-width:1000px){
    .content{
        width: 45%;
    }
}

@media(max-width:750px){
    .content{
        width: 100%;
    }
}
@media(max-width:773px){
    .content{
        width: 100%%;
    }
}
@media(max-width:110px){
    .content{
        width: 50%;
    }
}